.navigationSelectItems {
    text-decoration: none;
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
}

.navigationSelectItems:hover {
    color: black;
}

.navigationSelectItems li {
    list-style: none;
    padding: 6px 10px
}
